.modal,
.pop-up {
  display: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  transition: all 1s ease-in-out;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.modal button.add {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #e52e2f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
